ui {
    pane_frames {
        rounded_corners true
      }
  }

layout_dir "./layouts"
scrollback_editor "/opt/homebrew/bin/hx"
simplified_ui false
default_shell "/opt/homebrew/bin/fish"

 keybinds {
    normal {
        bind "Ctrl f" { ToggleFocusFullscreen; }
      }
  }

//env {
//    NVIM_APPNAME=nvim-lazy
//}
